
.button{
    margin: 10px;
}
.wrapperBtnInp{
    max-width: 90%;
    margin: 10px;
    background-color:rgb(136, 136, 136);
    box-shadow: rgb(21, 0, 97)  3px 3px ;
    border-radius: 10px;
}

