
.moviesMain{
    display:flex;
    max-width: 1621px;
}
.iconDelete{
    margin: 5px;
    transition: 0.5s; 
    display: block;
    cursor: pointer;
    width: 32px;
}
.iconDelete:hover {
    transform: scale(1.2); 
}
.wrapperIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}